* {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
}
body {
  color: #444;
  font-family: sans-serif;
}

.main-header {
  background-color: #f7f7f7;

  /* the first number is for the top and buttom, the second is for the left and right paddings */
  padding: 20px 40px;
  margin-bottom: 60px;
}

article {
  flex: 1;
}
.post-image {
  width: 75%;
}
aside {
  border-top: black solid 4px;
  border-bottom: black solid 4px;
  background-color: #f7f7f7;

  padding: 50px 0px;
}
h1,
h2,
h3 {
  color: #1098ad;
}
h1 {
  font-size: 40px;
  text-transform: capitalize;
  font-style: italic;
  padding: 15px;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h2 {
  font-size: 35px;
  margin-bottom: 30px;
  position: relative;
}
h2::after {
  content: "Top";
  background-color: burlywood;
  color: #ff6822;
  font-size: 15px;
  padding: 3px 10px;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: -10px;
  right: -10px;
}

h3 {
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

.post-header {
  margin-bottom: 40px;
  /* position: relative; */
}
li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}
p {
  font-size: 22px;
  margin-bottom: 15px;
}
P::first-line {
  padding-left: 10px;
}

#author {
  font-style: italic;
  margin: 0;
}

footer p {
  font-size: 12px;
}

.related-author {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

.related-post-list {
  list-style: none;
  margin-top: 20px;
}
.related-post-list {
  margin: 0 10px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: purple;
}

nav a:link {
  font-size: 18px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

.copyright {
  font-size: 17px;
  font-weight: 800;
  font-family: "Times New Roman";
}

.container {
  width: 85%;
  margin: 0 auto;
  position: relative;
}

nav a:link {
  display: inline-block;
  margin-right: 30px;
}

nav a:link:last-child {
  margin-right: 0;
}

.like {
  padding: 20px 40px;
  border: aquamarine solid 3px;
  font-size: large;
  border-radius: 10px;
  background-color: #ca3691;
  color: white;
  position: absolute;
  bottom: 50px;
  right: 50px;
}
.like:hover {
  border: #ca3691 solid 3px;

  background-color: aquamarine;
  color: black;
  cursor: pointer;
}

aside {
  flex: 0 0 25%;
}

/* FlexBox */
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-information {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 30px;
}

.aside-post-information {
  display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 10px;
}

.main-two-col {
  display: flex;
  align-items: flex-start;
  margin-bottom: 70px;
  gap: 40px;
}

.aside-post-title {
  margin-bottom: 10px;
  display: inline-block;
}
