body {
  color: #444;
  font-family: sans-serif;
}

h1,
h2,
h3 {
  color: #1098ad;
}
h1 {
  font-size: 40px;
  text-transform: capitalize;
  font-style: italic;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

li {
  font-size: 20px;
}
p {
  font-size: 22px;
}

#author {
  font-style: italic;
}

footer p {
  font-size: 12px;
}

.related-author {
  font-weight: bold;
  font-size: 18px;
}

.related-post-list {
  list-style: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: purple;
}

nav a:link {
  font-size: 18px;
}
